## for_format_list

In [8]:
s='{} {} {}'
a=s.format('ss','aa','ss')
print(a)

ss aa ss

In [9]:
s='{}가 {}가 {}가?'
a=s.format('ss','aa','ss')
print(a)

ss가 aa가 ss가?

In [11]:
s='{}는 {}번 {}갔다'
a=s.format('ㅁㅁ','222','학교')
print(a)

ㅁㅁ는 222번 학교갔다

### [문제]햄버거 1개는 4달라

In [1782]:
s='{} {}개는 {}달라'
a=s.format('햄버거', 1,4)
print(a)

햄버거 1개는 4달라

In [1783]:
food = '햄버거'
num = 2
price = num * 4
s='{} {}개는 {}달라'
a=s.format(food, num, price)
print(a)

햄버거 2개는 8달라

In [1804]:
food = input('메뉴입력 >> ')
num = input('개수입력 >> ')
price = int(num) * 4
s='{} {}개는 {}달라'
a=s.format(food, num, price)
print(a)

메뉴입력 >> 45645645
개수입력 >> 456456
45645645 456456개는 1825824달라

In [1808]:
menu = list( map( int, (input('햄버거 개수와 가격 >> ').split() ) ) )
s='햄버거 {}개는 {}달라'
a=s.format(menu[0], menu[0]*menu[1])
print(a)

햄버거 개수와 가격 >> 4 4
햄버거 4개는 16달라

In [1866]:
stu='%s %d학년 %s'
a=stu%('인천여상',3,'김고은')
print(a)

인천여상 3학년 김고은

In [3488]:
juso ='                                                                                           인천시 연수구 동춘동   '

In [2395]:
type(juso)

str

In [3489]:
len(juso)

105

In [3492]:
add = juso.strip()
print(add)

인천시 연수구 동춘동

In [3495]:
len(add)

11

In [3967]:
add.split()

['인천시', '연수구', '동춘동']

In [4517]:
add.startswith('인천')

True

In [4519]:
add.endswith('동춘동')

True

In [4522]:
num=10
if num==10:
    print('ㅇㅇ')
else:
    print('ㄴㄴ')

ㅇㅇ

In [4526]:
num=10
if num%2==0:
    print('짝수')
else:
    print('홀수')

짝수

### [문제] 입력을 받아서 짝수인지 홀 수 인지 알려줌
- 입력을 받는다
- 정수로 바꾼다
- if 문으로 비교한다
- 출력

In [4528]:
a=int(input('숫자 입력 >>> '))
if a%2==0:
    print('펭수')
else:
    print('워크맨')

숫자 입력 >>> 5
워크맨

In [5336]:
sum=0
for i in range(20,31):
    if i % 2 != 0:
            sum = sum + i
            print(i, end=' ')
print('\n합계 :', sum)

21 23 25 27 29
합계 : 125

### [문제 만들기]
- for, if문이 들어가는 문제

- ID,비밀번호

In [5338]:
id = 'id'
password = 'password'
iid=input('아이디 입력 >>> ')
ipassword=input('비밀번호 입력 >>> ')
if iid == id:
    if ipassword == password:
        print('환영함')
    else:
        print('비밀번호 틀림')
else:
    print('아이디 틀림')

아이디 입력 >>> id
비밀번호 입력 >>> password
환영함